{% extends "main/base.html" %}

{% block title %}Edit Shipping Details{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Edit Shipping Information</h1>
<form method="POST" class="form-group">
    <fieldset>
        {% crispy form %}
        <br>
        <input type="submit" style = "margin-top: 30px;" class="btn btn-success">
        <a class = 'btn btn-danger' style = "margin-top: 30px;" href = "/delete_payment">Delete Shipping Details</a>
        <a class="btn btn-outline-dark" style = "margin-top: 30px;" href="/welcome">Cancel</a>
    </fieldset>
</form>

{% endblock %}