{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<main class="mt-5 pt-4">
    <div class="row">
      <h1>✅</h1>
        <div class="col-lg-6" style="border:1px solid black; padding: 10px; border-radius: 5px;">
            <form class="card-body" method="POST">
              {% csrf_token %}
              <p><strong>Shipping Information:</strong></p>
              {% if has_address %}
                <p>Your preferred shipping address is:</p>
                <p>{{shipping.street_address}}</p>
                <p>{{shipping.city}}</p>
                <p>{{shipping.state}}</p>
                <p>{{shipping.postcode}}</p>
                <p>{{shipping.country}}</p>
                <p>Shipping method: {{shipping.shipping_method}}</p>
              {% else %}
                <p>Please update your shipping preferences...</p>
              {% endif %}
              <a class="btn btn-outline-dark" style = "margin-top: 10px;" href="/edit_shippment">Edit Shipping Information</a>
              <br>
              <hr>
              <div id="payment-info">
                  <p><strong>Payment Information:</strong></p>
                  {% if has_payment %}
                    <p>Your preferred payment is set to card number: {{payment.card_number}}</p>
                  {% else %}
                    <p>Please update your payment details...</p>
                  {% endif %}

                  <a class="btn btn-outline-dark" style = "margin-top: 10px;" href="/edit_payment">Edit Payment Information</a>
              </div>

              <hr class="mb-4">
              {% if not has_payment and has_address %}
                <p style="color:grey;">Can't place order. Please select shipping and payment options.</p>
              {% elif cart_items is 0 %}
                <p style="color:grey;">Can't place order. No items in shopping cart.</p>
              {% else %}
                <button class="btn btn-primary btn-lg btn-block" type="submit">Place Order</button>
              {% endif %}
            </form>
        </div>
 
            <div class="col-lg-6" style="border:1px solid black; padding: 10px; border-radius: 5px;">
                <div class="box-element" >
                    <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                    <hr>
                    <h3>Order Summary</h3>
                    <hr>
                    {% for order_item in items %}
                    <div class="cart-row">
                        <div style="flex:2"><img style="width: 100%; height: 200px" src="{{order_item.item.image.url}}"></div>
                        <div style="flex:2"><p>{{order_item.item.name}}</p></div>
                        <div style="flex:1"><p>${{order_item.item.price|floatformat:2}}</p></div>
                        <div style="flex:1"><p>x{{order_item.quantity}}</p></div>
                    </div>
                    {% endfor %}
                    <h5>Items:   {{cart_items}}</h5>
                    <h5>Total:   {{cart_total}}</h5>
                </div>
            </div>
           
          </div>
        </div>
</div>
</main>
 
{% endblock %}
