{% extends "main/base.html" %}

{% block title %}Edit Account Information{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

 
<h1>Edit Account Information</h1>
<br/> <br/>

    <form method="POST" class="form-group">
        {% csrf_token %}
        {{user_form|crispy}}
        <br>
        <button type="submit" class="btn btn-success">Update</button>
        <button href="/welcome" class="btn btn-danger">Cancel</button>
    </form>

    <form method="POST" class="form-group">
        {% csrf_token %}
        {{shippment_info|crispy}}
    </form>

    <form method="POST" class="form-group">
        {% csrf_token %}
        {{payment_info|crispy}}
    </form>
{%endblock%}