{% extends "main/base.html" %}

{% block content %}
<h2>Account Settings 🛠️</h2>
<div>
    <a class = 'btn btn-outline-dark' style = "margin-top: 30px;" href="/edit">Edit Account Details</a>
    <a class="btn btn-outline-dark" style = "margin-top: 30px;" href="/order_history">View Order History</a>
    <a class="btn btn-outline-dark" style = "margin-top: 30px;" href="/edit_payment">Edit Payment Information</a>
    <a class="btn btn-outline-dark" style = "margin-top: 30px;" href="/edit_shippment">Edit Shipping Information</a>
    <a class = 'btn btn-danger' style = "margin-top: 30px;" href = "/deleteaccount">Delete Account</a>
</div>
{% endblock %}