{% extends 'main/base.html' %}

{% block content %}
<h1>Welcome!</h1>
<br>
<h3>You are logged in as: {{name}}</h3><br>
<!-- <p>Email: {{email}}</p><br> -->
<p>Email: {{user.email}}</p>
<p>Joined: {{user.date_joined}}</p>
<br>

<a class = 'btn btn-success' style = "margin-top: 30px;" href="/main">Continue to Shop</a>
<a class = 'btn btn-success' style = "margin-top: 30px;" href="/orderhistory">View Order History</a>
<a class = 'btn btn-danger' style = "margin-top: 30px;" href="/edit">Edit Account Details</a>
<a class = 'btn btn-danger' style = "margin-top: 30px;" href = "/deleteaccount">Delete Account</a>
<a class = 'btn btn-danger' style = "margin-top: 30px;" href = "/logout">Logout</a>
{% endblock %}