{% extends 'main/base.html' %}

{% block content %}
<h1>Welcome 👋</h1>
<br>
<h3>You are logged in as: {{name}}</h3><br>
<!-- <p>Email: {{email}}</p><br> -->
<p>Email: {{user.email}}</p>
<p>Joined: {{user.date_joined}}</p>
{% if request.user.is_superuser %}
<p>Account Status: Admininstrator</p>
{% elif request.user.is_staff %}
<p>Account Status: Staff</p>
{%else %}
<p>Account Status: Customer</p>
{%endif %}
<br>

<a class = 'btn btn-success' style = "margin-top: 30px;" href="/main">Continue to Shop</a>

{% if request.user.is_superuser %}
<br>
<a class = 'btn btn-dark' style = "margin-top: 30px;" href = "/staff_registration">Register User</a>
<a class = 'btn btn-dark' style = "margin-top: 30px;" href = "/admin/auth/user/">Manage users</a>
<a class = 'btn btn-dark' style = "margin-top: 30px;" href = "/admin">Admin Panel</a>
{% endif %}


{% if request.user.is_superuser or request.user.is_staff%}
<br>
<a class = 'btn btn-dark' style = "margin-top: 30px;" href = "/products">Manage Products</a>
{% endif %}
{% endblock %}